registry=https://pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/:username=sunken-stone
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/:_password=[y4yt52zqj4tsf4hy2qcdcu3ctmmee3lkfzwc5ulaey6dbsnc3pxq]
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/:email=xudong.ding@emplicit.co
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/:username=sunken-stone
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/:_password=[y4yt52zqj4tsf4hy2qcdcu3ctmmee3lkfzwc5ulaey6dbsnc3pxq]
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/:email=xudong.ding@emplicit.co